/**
 * @file
 * Master CSS file.
 */

#helium-exporter-header {
  background-color: #314355;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: #FFFFFF;
  font-size: 1.1em;
  padding: 10px 0 10px 20px;
}

#helium-exporter-title {
  float: left;
  font-size: 1.1em;
}

#helium-exporter-help {
  float: right;
}

#helium-exporter-help img {
  padding: 0;
  margin: 0 15px 0 0;
}

.helium-exporter-copy-page {
  border: 1px;
  border-style: solid;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  -moz-box-shadow:    1px 1px 5px 1px #EAEAEA;
  -webkit-box-shadow: 1px 1px 5px 1px #EAEAEA;
  box-shadow:         inset 1px 1px 5px 1px #EAEAEA;

  background-color: #FFFFFF;
  min-height: 200px;
  padding: 20px 40px 40px 40px;
  text-align: center;
}

.helium-exporter-content-wrapper {
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  position: relative;
  text-align: left;
  width: 100%;
}

.helium-exporter-content-wrapper h2 {
  padding: 0;
  margin: 0;
}


#helium-exporter-show-window {
  display: none;
  border-bottom: 1px solid #CCCCCC;
  cursor: pointer;
  margin: 20px 0;
  padding: 0 2%;
  position: relative;
  text-align: center;
  
  -moz-box-shadow:    0 5px 7px -9px #333333;
  -webkit-box-shadow: 0 5px 7px -9px #333333;
  box-shadow:         0 5px 7px -9px #333333;
}

#helium-exporter-show-window img {
  margin: 0;
  height: 70%;
  width: 70%;
}

#helium-exporter-show-steps {
  margin: 0 auto;
  position: relative; 
  width: 100%;
}

.helium-exporter-show-steps-item {
  float: left;
  font-size: 1.1em;
  font-weight: normal;
  width: 30%;
  margin: 0 0 0 4%;
}

.helium-exporter-show-steps-item:first-child {
  margin-left: 10px;
}

.helium-exporter-show-steps-item strong {
  display: block;
  font-size: 1.2em;
  text-align: left;
}

.helium-exporter-show-steps-item a {
  font-size: 0.9em;
  display: block;
  margin: 15px 0 0 0;
  text-align: left;
}

.helium-exporter-show-steps-item img {
  margin: 0 auto;
  height: 80%;
  width: 80%;;
}

.helium-exporter-show-steps-item p {
  text-align: left;
}

.helium-exporter-clear-float {
  clear: both;
}

#helium-exporter-download-fieldset {
  padding: 20px;
}

#helium-exporter-bg-line {
  border-bottom: 4px dotted #EAEAEA; 
  left: 0; 
  position: absolute; 
  top: 30%; 
  text-align: center;
  width: 100%; 
}

#helium-exporter-download-form select {
  font-size: 1.1em;
  width: 100%;
}

.helium-exporter-group-checkboxes-wrapper {
  border: 1px solid #CCCCCC;
  height: 170px;
  margin: 0 0 15px 0;
  padding: 5px 10px;
  overflow-y: scroll;
}

.helium-exporter-group-checkboxes-wrapper label {
  font-size: 1.1em;
}

.helium-exporter-field-options {
  float: right;
  font-weight: 100;
}